/***********************************
	PAGE PRELOAD - preload.less
************************************/
html {
  visibility: hidden;
  background-color: #000;
}
html.loading-state:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.85;
  cursor: wait;
  z-index: 11000;
}

