@import url(https://fonts.googleapis.com/css?family=Electrolize);
/*************************
 * BRAND SPECIFIC THEMATIC RULES
 * overrides for this site only
 *************************/
/*
All instances of #ff6000 should be replaced with the appropriate color code.
*/
/* type */
body .SSO-BAR h1,
body .SSO-BAR h3,
body .SSO-BAR h4,
body .SSO-BAR h5,
body .SSO-BAR h6,
body .SSO-BAR .sso-content-panel menu > li,
body .SSO-BAR #or {
  font-family: Helvetica, Arial, sans-serif;
}
.SSO-BAR .sso-content-panel menu#account-actions > li > a {
  color: white;
  border-radius: 0px;
  font-family: bourgeois bold;
  font-size: 16px;
  background-color: #ff6000;
}
body .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
.SSO-BAR #sso-bar-menu > li.is-active#menu-identity {
  background-image: url(../images/light-cog.png);
  border-bottom: rgba(255, 96, 0, 0.8);
}
.SSO-BAR #menu-identity .sso-content-panel#sso-identity #platform-user-name {
  color: white;
}
.SSO-BAR #menu-explore.is-active,
#menu-locale.is-active #sso-country-menu-label {
  background-image: url(../images/light-down-arrow.png);
}
#explore-bar-sites,
#explore-bar-more,
#sso-locale-items > li > a,
.SSO-BAR .sso-content-panel menu > li,
.SSO-BAR .sso-content-panel menu > li > a {
  font-family: bourgeois bold;
  color: white;
  letter-spacing: 1px;
}
.SSO-BAR .sso-content-panel menu > li,
.SSO-BAR .sso-content-panel menu > li > a {
  font-family: bourgeois medium;
}
.SSO-BAR #sso-bar-menu > li.is-active {
  background-color: rgba(255, 96, 0, 0.8);
}
.SSO-BAR .sso-content-panel {
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #ff6000;
}
.SSO-BAR #sso-bar-menu > li > a,
body .SSO-BAR #or {
  font-family: bourgeois bold;
  letter-spacing: 1px;
}
body .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  font-weight: normal;
}
/* color */
/* Elite registration flow */
body.register-elite .SSO-BAR a:hover,
body.register-elite .SSO-BAR a:active,
body.register-elite .SSO-BAR a.is-active,
body.register-elite .SSO-BAR #sso-bar-menu > li.is-active > a,
body.register-elite .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body.register-elite .SSO-BAR .sso-content-panel menu > li > a:hover,
body.register-elite .SSO-BAR .sso-content-panel menu > li > a:active,
body.register-elite .SSO-BAR .panel-cta {
  color: #ff6000;
}
body.register-elite .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
body.register-elite .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #ff6000;
}
/* Main registration flow (and default color for sites that have no color specified) */
/* body .SSO-BAR a:hover, */
/* body .SSO-BAR a:active, */
/* body .SSO-BAR a.is-active, */
/* body .SSO-BAR #sso-bar-menu > li.on.is-active > a, */
body .SSO-BAR .sso-content-panel menu > li > a:hover,
body .SSO-BAR .panel-cta {
  color: #96A055;
}
body .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
body .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #ff6000;
}
/* Premium website (same color as Elite registration flow) */
body#elite .SSO-BAR a:hover,
body#elite .SSO-BAR a:active,
body#elite .SSO-BAR a.is-active,
body#elite .SSO-BAR #sso-bar-menu > li.is-active > a,
body#elite .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#elite .SSO-BAR .sso-content-panel menu > li > a:hover,
body#elite .SSO-BAR .sso-content-panel menu > li > a:active,
body#elite .SSO-BAR .panel-cta {
  color: #ff6000;
}
body#elite .SSO-BAR .sso-content-panel {
  border-bottom-color: #ff6000;
}
body#elite .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #ff6000;
}
/* Main website */
body#cod .SSO-BAR a:hover,
body#cod .SSO-BAR a:active,
body#cod .SSO-BAR a.is-active,
body#cod .SSO-BAR #sso-bar-menu > li.is-active > a,
body#cod .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#cod .SSO-BAR .sso-content-panel menu > li > a:hover,
body#cod .SSO-BAR .sso-content-panel menu > li > a:active,
body#cod .SSO-BAR .panel-cta {
  color: #8cb61b;
}
body#cod .SSO-BAR .sso-content-panel {
  border-bottom-color: #8cb61b;
}
body#cod .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #8cb61b;
}
/*PORT-2002*/
.SSO-PAGE > article > #side-promo-content img.promo-img {
  display: none;
}
/* MW3 website (same color as COD website) */
body#mw3 .SSO-BAR a:hover,
body#mw3 .SSO-BAR a:active,
body#mw3 .SSO-BAR a.is-active,
body#mw3 .SSO-BAR #sso-bar-menu > li.is-active > a,
body#mw3 .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#mw3 .SSO-BAR .sso-content-panel menu > li > a:hover,
body#mw3 .SSO-BAR .sso-content-panel menu > li > a:active,
body#mw3 .SSO-BAR .panel-cta {
  color: #8cb61b;
}
body#mw3 .SSO-BAR .sso-content-panel {
  border-bottom-color: #8cb61b;
}
body#mw3 .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #8cb61b;
}
/* SSO Pages Only */
body.sso #sso-bar-menu .sso-masthead-link {
  position: absolute;
  top: 40px;
  left: 0;
  margin: 12px 0 0 20px;
}
body.sso #sso-bar-menu a .masthead {
  background-image: url(../images/brand-logo.png);
  /*Disabled the below line for case PORT-1935 */
  /* background-color: black; */
  width: 174px;
  height: 36px;
  float: left;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Black Ops website */
body#codbo .SSO-BAR a:hover,
body#codbo .SSO-BAR a:active,
body#codbo .SSO-BAR a.is-active,
body#codbo .SSO-BAR #sso-bar-menu > li.is-active > a,
body#codbo .SSO-BAR #sso-bar-menu > li.on.is-active > a,
body#codbo .SSO-BAR .sso-content-panel menu > li > a:hover,
body#codbo .SSO-BAR .sso-content-panel menu > li > a:active,
body#codbo .SSO-BAR .panel-cta {
  color: #00baea;
}
body#codbo .SSO-BAR .sso-content-panel {
  border-bottom-color: #00baea;
}
body#codbo .SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #00baea;
}
/* right aligned menu */
body .SSO-BAR #sso-bar-menu > #menu-login-register,
body .SSO-BAR #sso-bar-menu > #menu-identity,
body .SSO-BAR #sso-bar-menu > #menu-notification,
body .SSO-BAR #sso-bar-menu > #menu-premium {
  float: right;
}
/* right aligned panels */
body .SSO-BAR #sso-bar-menu > #menu-login-register .sso-content-panel,
body .SSO-BAR #sso-bar-menu > #menu-identity .sso-content-panel,
body .SSO-BAR #sso-bar-menu > #menu-notification .sso-content-panel {
  left: auto;
  right: 0px;
}
/* Notification Icons  */
.notification-icon {
  background-repeat: no-repeat;
  background-position: 3px 2px;
  margin-left: 2px;
}
.notification-icon {
  background-image: url("../images/default_black.png");
  /* 	Default Icon */
}
.event_badge .notification-icon,
.operation_badge .notification-icon {
  background-image: url("../images/earned_badge_black.png");
}
.comment_on_comment .notification-icon {
  background-image: url("../images/comment_black.png");
}
.clan_app_received .notification-icon,
.clan_invite_received .notification-icon {
  background-image: url("../images/clan_invite_black.png");
}
.clan_invite_accepted .notification-icon {
  background-image: url("../images/clan_application_accepted_black.png");
}
.clan_motd .notification-icon {
  background-image: url("../images/motd_black.png");
}
.clan_earned_xp .notification-icon {
  background-image: url("../images/earned_clan_badge_black.png");
}
.marketing_message .notification-icon {
  background-image: url("../images/news_black.png");
}
.tracked .notification-icon,
.operation_enrolled .notification-icon,
.event_enrolled .notification-icon {
  background-image: url("../images/track_black.png");
}
/************************************
	DIV PLACED LOGIN
*************************************/
.sso-login-wrapper .sprite-pages {
  background: transparent url(../images/sprite-pages.png) -99999px -99999px no-repeat;
}
.sso-login-wrapper .loginFB {
  background-image: url(../images/sprite-pages.png);
  background-position: 0 -1097px;
}
.sso-login-wrapper .chooseLogin {
  background-position: 0px -1131px;
}
.SSO-BAR .sso-notification-item {
  padding-left: 50px;
}
.SSO-BAR .sso-notification-item {
  padding-left: 50px;
}
.SSO-BAR .sso-notification-item h3,
.SSO-BAR h3 span#profile-complete-text-prefix,
.SSO-BAR h3 span#profile-completion-percentage,
.SSO-BAR h3 span#profile-complete-text-suffix,
.SSO-BAR .sso-notification-item a {
  font-family: 'bourgeois bold';
  color: white;
}
.SSO-BAR .sso-notification-item p,
.SSO-BAR .sso-notification-item #profile-completion-text,
.SSO-BAR .sso-notification-item ul,
.SSO-BAR .sso-notification-item ul li {
  font-family: 'bourgeois medium';
  color: white;
}
body .SSO-BAR .sso-content-panel menu > li > a:hover,
body .SSO-BAR .panel-cta {
  color: #ff6000;
  font-family: 'bourgeois bold';
  font-style: normal;
  letter-spacing: 1px;
}
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/J0GYVYTizO1mjpT3aOcSbQ.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v9/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v5/DDy9sgU2U7S4xAwH5thnJ44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xJwNa6kgmw9HIHjUBPkzL2f3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xKdGPpWTn2kPFru4k7T0T-v3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xN9i7v7U2vZkHC55NWxtqfn3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xK1ueDcgZDcfV3TWANvdPLj3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xC3qj1XlvLGj0jktnJzWu233rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xC8hAQ4ocbp44gFQt8tMfcH3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBrT1lp9IdZ6Q20XTtjH6Zv3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIS898UBCVj0FEntoasBk6P3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBkraXwpsr1uSZUhAAol_4_3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xKTAHfCyYjmaKhz-jw4dXo73rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xP1CsDU87ma3di2VmaZcPSr3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBztfhWvsElVqpbWxzFHK633rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: "VA-Text-Regular";
  src: url("../fonts/VA-Text-Regular.otf") format("opentype");
}
@font-face {
  font-family: "VA-Text-Caps-Bold";
  src: url("../fonts/VA-Text-Caps-Bold.otf") format("opentype");
}
@font-face {
  font-family: "VA-Text-Caps-Bold-lt";
  src: url("../fonts/VA-Text-Caps-Bold-lt.otf") format("opentype");
}
@font-face {
  font-family: "VA-Text-Italic";
  src: url("../fonts/VA-Text-Italic.otf") format("opentype");
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/J0GYVYTizO1mjpT3aOcSbQ.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v9/Ya11CJGBCnKoJHvb8B2EOw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(https://fonts.gstatic.com/s/electrolize/v5/DDy9sgU2U7S4xAwH5thnJ44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xJwNa6kgmw9HIHjUBPkzL2f3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xKdGPpWTn2kPFru4k7T0T-v3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xN9i7v7U2vZkHC55NWxtqfn3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xK1ueDcgZDcfV3TWANvdPLj3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xC3qj1XlvLGj0jktnJzWu233rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xC8hAQ4ocbp44gFQt8tMfcH3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBrT1lp9IdZ6Q20XTtjH6Zv3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIS898UBCVj0FEntoasBk6P3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBkraXwpsr1uSZUhAAol_4_3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* greek */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xKTAHfCyYjmaKhz-jw4dXo73rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xP1CsDU87ma3di2VmaZcPSr3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBztfhWvsElVqpbWxzFHK633rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xIF8zhZCJ7x9Pr62cRgaVUA.woff2) format('woff2');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body.with-sso-bar {
  margin-top: 53px;
}
.SSO-BAR {
  height: 53px;
}
.SSO-BAR .sso-masthead-wrapper {
  padding: 1px 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.SSO-BAR .sso-masthead-wrapper:hover {
  background-color: #000000;
}
.SSO-BAR .sso-masthead-wrapper .masthead {
  background-image: url(https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/cod-logo-white.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 53px;
  width: 105px;
  color: transparent;
  overflow: hidden;
}
.SSO-BAR .sso-bar-menu {
  display: block;
  float: left;
  width: 100%;
}
.SSO-BAR .sso-bar-wrapper.desktop {
  width: 100%;
  height: 53px;
  background-image: url(https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png);
  background-size: 2px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element {
  border: none;
  height: 53px;
  line-height: 53px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .site-link {
  float: left;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .site-link a {
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  color: #9b9b9b;
  line-height: 53px;
  text-transform: uppercase;
  padding: 18px 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .site-link a:hover {
  color: #ffffff;
}
@media only screen and (max-width: 1220px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .site-link a {
    padding: 18px 10px;
  }
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .site-link a:hover {
  background-color: #ffffff10;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .sso-support-link {
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  color: #9b9b9b;
  line-height: 53px;
  text-transform: uppercase;
  margin: 0 15px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element .sso-support-link:hover {
  color: #ffffff;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links .site-links-left {
  display: block;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities {
  display: none;
  background: none;
  position: relative;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .identity-actions {
  float: left;
  margin: 0 15px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .identity-actions li {
  float: left;
  padding: 0;
  position: relative;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .identity-actions li a {
  display: block;
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  color: #9b9b9b;
  line-height: 53px;
  text-transform: uppercase;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .identity-actions li a:hover {
  color: #ffffff;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .identity-actions li:first-child {
  padding-right: 15px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .identity-actions li:first-child:after {
  content: "|";
  position: absolute;
  right: 5px;
  top: 0;
  color: #9b9b9b;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-identities .sso-identities-icon {
  float: left;
  height: 53px;
  width: 40px;
  background-image: url("../../common/images/dark-cog.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right {
  display: block;
  float: right;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .my-cod {
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 1220px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .my-cod {
    width: 80px;
    height: 53px;
    overflow: hidden;
  }
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .my-cod:before {
  content: "";
  width: 20px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background: url('https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/shield_icon_no_drop.png') center center no-repeat;
  background-size: contain;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .my-cod a {
  padding-left: 45px;
  margin: 0 3px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
@media only screen and (max-width: 1220px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .my-cod a {
    position: absolute;
    width: 42px;
    height: 47px;
    padding: 0;
    margin: 3px;
    overflow: hidden;
    color: transparent;
  }
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .purchase-link {
  display: inline-block;
  display: flex;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .purchase-link a {
  font-family: 'VA-Text-Caps-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #d2d4cd;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px #000000;
  transition: all 0.5s;
  position: relative;
  display: block;
  width: fit-content;
  padding: 13px 20px 13px;
  margin: 0 auto;
  background-image: linear-gradient(6deg, #8a7a4a 0%, #705f2e 30% 70%, #8a7a4a 100%);
  border: 1px solid #8a7a4a;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.site-links-right .purchase-link a:hover {
  color: #fff;
  background-image: linear-gradient(6deg, #8a7a4a 0%, #75673c 30% 70%, #8a7a4a 100%);
  box-shadow: inset 0px 0px 30px #bb9934;
  border: 1px solid #d0b56f;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container {
  display: none;
  margin: 0 15px;
}
@media only screen and (max-width: 1100px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container {
    margin: 0 5px;
  }
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container a.sso-login-button,
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container a.sso-register-button {
  background-color: transparent;
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  color: #9b9b9b;
  line-height: 53px;
  text-transform: uppercase;
  position: relative;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container a.sso-login-button:hover,
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container a.sso-register-button:hover {
  color: #ffffff;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container a:first-child {
  padding-right: 15px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container a:first-child:after {
  content: "|";
  position: absolute;
  right: 3px;
  top: 0;
  color: #ffffff;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-login-register-container .or {
  display: none;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale {
  position: relative;
  margin: 0 15px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale > a {
  line-height: 53px;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-chooser {
  padding: 0;
  display: list-item;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container {
  top: 50px;
  right: 0;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container li {
  border-color: #ffffff;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
  height: 15px;
  line-height: 15px;
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-size-adjust: 0.5;
  font-weight: bold;
  font-style: normal;
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.desktop .sso-menu-element.sso-locale .sso-locale-list-container .sso-locale-text {
    text-rendering: optimizeLegibility;
  }
}
.SSO-BAR .sso-bar-wrapper.mobile {
  height: 53px;
  background: #000000;
  background-image: url(https://www.callofduty.com/content/dam/atvi/callofduty/global/global-nav/global-nav-bg.png);
  background-size: 2px;
  margin: 0;
}
@media only screen and (max-width: 1025px) {
  .SSO-BAR .sso-bar-wrapper.mobile {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
  }
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-navigation-button {
  order: 3;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-navigation-button .mobile-navigation-button {
  background-image: none;
  width: 30px;
  height: 24px;
  position: relative;
  margin: 15px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-width: 1px 0;
  overflow: hidden;
  text-indent: -2000%;
  color: transparent;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-navigation-button .mobile-navigation-button:before {
  content: "";
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-navigation-button .mobile-navigation-button:before {
  top: 10px;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-masthead-wrapper {
  order: 1;
  display: inline-block;
  padding: 1px 15px 0px;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-masthead-wrapper .masthead {
  height: 50px;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-purchase-button {
  order: 2;
  display: inline-block;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-purchase-button a {
  font-family: 'VA-Text-Caps-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #d2d4cd;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px #000000;
  transition: all 0.5s;
  position: relative;
  display: block;
  width: fit-content;
  padding: 13px 20px 13px;
  margin: 0 auto;
  background-image: linear-gradient(6deg, #8a7a4a 0%, #705f2e 30% 70%, #8a7a4a 100%);
  border: 1px solid #8a7a4a;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-purchase-button a:hover {
  color: #fff;
  background-image: linear-gradient(6deg, #8a7a4a 0%, #75673c 30% 70%, #8a7a4a 100%);
  box-shadow: inset 0px 0px 30px #bb9934;
  border: 1px solid #d0b56f;
}
.SSO-BAR .sso-bar-wrapper.mobile .sso-mobile-purchase-button a {
  padding: 11px 20px 12px;
}
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login,
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register {
  display: none;
  position: absolute;
  right: 10px;
  text-align: center;
  width: auto;
}
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
  color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  font-family: "Arvo", Verdana, Arial, Helvetica, sans-serif;
  font-family: "Abel", Verdana, Arial, Helvetica, sans-serif;
  font-size-adjust: 0.5;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a,
  .SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a {
    text-rendering: optimizeLegibility;
  }
}
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login a:hover,
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register a:hover {
  color: #1e9ffd;
}
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-login {
  top: 30px;
}
.SSO-BAR .sso-bar-wrapper.mobile .mobile-menu-register {
  padding-top: 5px;
  top: 50px;
  border-top: 1px solid #ffffff;
}
.SSO-BAR .sso-modal.mobile {
  top: 50px;
  height: calc(100vh - 50px);
  background-color: rgba(0, 0, 0, 0.925);
}
.SSO-BAR .sso-modal.mobile .mobile-modal-wrapper {
  padding: 0;
  width: 100%;
}
.SSO-BAR .sso-modal.mobile .mobile-modal-wrapper > .sso-locale {
  width: 100%;
  border-top: 1px solid #464646;
}
.SSO-BAR .sso-modal.mobile .mobile-modal-wrapper > .sso-locale .sso-locale-chooser {
  text-align: right;
  display: list-item;
  height: 50px;
}
.SSO-BAR .sso-modal.mobile .mobile-modal-wrapper > .sso-locale .sso-locale-chooser .sso-current-locale {
  margin-right: 22px;
}
.SSO-BAR .sso-modal.mobile .sso-menu-element {
  border-width: 0 1px;
  margin: 0 auto;
  background-color: transparent;
}
.SSO-BAR .sso-modal.mobile .sso-support {
  display: none;
  border: 1px solid #464646;
}
.SSO-BAR .sso-modal.mobile .sso-support a {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-size-adjust: 0.5;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0;
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeLegibility;
  }
}
@media screen and (max-width: 640px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeSpeed;
  }
}
@media screen and (min-width: 641px) {
  .SSO-BAR .sso-modal.mobile .sso-support a {
    text-rendering: optimizeLegibility;
  }
}
.SSO-BAR .sso-modal.mobile .sso-support a:hover {
  color: #1e9ffd;
}
.SSO-BAR .sso-modal.mobile .sso-identities {
  float: left;
  width: 100%;
}
.SSO-BAR .sso-modal.mobile .sso-identities li a {
  display: block;
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  color: #969696;
  text-transform: uppercase;
  padding: 25px;
  text-align: left;
}
.SSO-BAR .sso-modal.mobile .sso-identities .sso-identities-icon {
  background-position-x: 15px;
}
.SSO-BAR .sso-modal.mobile .site-links .site-links-left,
.SSO-BAR .sso-modal.mobile .site-links .site-links-mobile {
  display: block;
}
.SSO-BAR .sso-modal.mobile .site-links .site-link a {
  display: block;
  font-family: "Montserrat", Verdana, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  color: #969696;
  text-transform: uppercase;
  padding: 25px;
  text-align: left;
}

