/*************************
 * GENERIC THEMATIC RULES
 * shared across all sites
 * structural rules go in sso-bar-base.css
 * site-specific customiztions go in sso-bar-custom.css
 *************************/
/* 

TABLE OF CONTENTS

00  NAMESPACE / FONTS
01  ANONYMOUS ELEMENTS
02  PRIMARY MENU ITEMS
03  DROP DOWN MENUS
04  LOGIN / REGISTER STYLES
05  IDENTITY MENU
06  NOTIFICATION MENU
07  UTILITIES
08  SEARCH BAR


*/
/** 00 NAMESPACE / FONTS
 *************************/
.SSO-BAR {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1;
  /* 	border-bottom: 1px solid #393939; */
  background: black;
}
/** 01 ANONYMOUS ELEMENTS
 *************************/
.SSO-BAR h1,
.SSO-BAR h2,
.SSO-BAR h3,
.SSO-BAR h4,
.SSO-BAR h5,
.SSO-BAR h6 {
  font-size: 14px;
  line-height: 1.4em;
  color: #black;
}
.SSO-BAR h2 {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}
.SSO-BAR a,
.SSO-BAR p,
.SSO-BAR li,
.SSO-BAR label {
  color: black;
  font-size: 13px;
}
.SSO-BAR p {
  line-height: 1.3;
}
.SSO-BAR a {
  text-decoration: none;
}
.SSO-BAR a:hover,
.SSO-BAR a:active,
.SSO-BAR a.is-active {
  color: #fff;
}
.SSO-BAR .sso-explore-list a {
  color: #ffffff;
}
/** 02 PRIMARY MENU ITEMS
 *************************/
.SSO-BAR #sso-bar-menu {
  color: #333;
}
#sso-notifications-num-logins {
  color: black;
}
.SSO-BAR #sso-bar-menu > li.is-active {
  background-color: white;
}
.SSO-BAR #sso-bar-menu > li.is-active#menu-support {
  background-color: inherit;
}
.SSO-BAR #sso-bar-menu > li.is-active:before {
  background-color: #2f2f2f;
}
.SSO-BAR #sso-bar-menu > li > a {
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  /* 	text-transform: uppercase; */
}
.SSO-BAR #sso-bar-menu > li.on > a,
.SSO-BAR #sso-bar-menu > li.is-active > a,
.SSO-BAR #sso-bar-menu > li.on.is-active > a {
  color: #999;
}
#explore-bar-sites,
#explore-bar-more,
#sso-locale-items > li > a {
  font-family: Helvetica, Arial, sans-serif;
}
/** 03 DROP DOWN MENUS
 *************************/
.SSO-BAR .sso-content-panel {
  background: white;
}
.SSO-BAR .sso-content-panel menu > li {
  font-size: 13.5px;
  font-weight: normal;
  color: #A6ACB5;
}
.SSO-BAR .sso-content-panel menu > li > a {
  color: #999;
}
.SSO-BAR .sso-content-panel menu#account-actions > li > a {
  color: white;
  background-color: black;
  margin-top: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.SSO-BAR .sso-content-panel menu > li > a:hover,
.SSO-BAR .sso-content-panel menu > li > a:active {
  color: #fff;
}
/* content panel header */
.SSO-BAR .sso-content-hd {
  margin: 0;
  padding: 0 0 6px 0;
  border-bottom: 1px solid #252525;
}
#sso-explore-menu-label {
  font-size: 15px;
}
/* content panel body */
.SSO-BAR .sso-content-bd menu h3 {
  color: #333333;
  font-size: 20px;
  text-transform: uppercase;
}
/** LOCALE DROP DOWN
 *************************/
.SSO-BAR .is-selected {
  background-image: url(../images/check-mark.png);
  background-repeat: no-repeat;
  background-position: 105px 5px;
}
/** EXPLORE DROP DOWN
 *************************/
/** 04 LOGIN / REG
 *************************/
.SSO-BAR #sso-bar-menu > #menu-login-register {
  border-color: transparent;
}
.SSO-BAR #sso-bar-menu > #menu-login-register.is-active {
  border-color: #4A4A4A;
}
.SSO-BAR #sso-bar-menu > #menu-login-register > a {
  background-color: #fff;
  font-weight: bold;
  color: #000;
}
.SSO-BAR #or {
  color: black;
  background-color: #666;
  font-weight: normal;
  font-size: 12.5px;
  text-transform: uppercase;
}
.SSO-BAR #or:before {
  background-color: #262626;
  border-right: 1px solid #0e0e0e;
}
/* form */
.SSO-BAR #sso-login-register #sso-login {
  border-color: #252525;
}
.SSO-BAR #sso-login-register-forms .input-container {
  background-color: #fff;
}
.SSO-BAR #sso-login-register-forms .error .input-container {
  background-color: #ff470f;
}
.SSO-BAR button {
  font-weight: bold;
  background-color: #fff;
}
.SSO-BAR .error .message {
  color: #ff470f;
}
/** 05 IDENTITY MENU
 *************************/
.SSO-BAR #menu-identity .sso-content-panel#sso-identity {
  margin-top: 1px;
}
.SSO-BAR #menu-identity .sso-content-panel#sso-identity hr {
  width: 255px;
  margin-left: -16px;
  margin-top: 17px;
  height: 1px;
  background-color: grey;
}
.SSO-BAR #menu-identity .sso-content-panel#sso-identity #platform-user-name {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 10px;
}
.SSO-BAR #menu-identity .sso-content-panel#sso-identity #sso-identities-header {
  text-align: center;
}
.SSO-BAR #menu-identity .sso-content-panel #user-identities {
  /* 	border-top: 1px solid #252525; */
  border-top-width: 100%;
}
.SSO-BAR #menu-identity .sso-content-panel #user-identities li,
.SSO-BAR #menu-identity .sso-content-panel #user-identities li > a:after {
  background-color: #353535;
}
.SSO-BAR #menu-identity .sso-content-panel #user-identities li:hover,
.SSO-BAR #menu-identity .sso-content-panel #user-identities li:hover > a:after {
  background-color: #434343;
}
.SSO-BAR #menu-identity .sso-content-panel #user-identities li.on,
.SSO-BAR #menu-identity .sso-content-panel #user-identities li.on > a:after,
.SSO-BAR #menu-identity .sso-content-panel #user-identities li.on:hover > a:after {
  background-color: #434343;
  cursor: default;
}
.SSO-BAR #menu-identity .sso-content-panel #user-identities li.on a {
  color: #fff;
}
/** 06 NOTIFICATION MENU
 *************************/
.SSO-BAR .sso-notification-item ul li {
  color: white;
}
.SSO-BAR .sso-notification-item em {
  font-weight: bold;
  color: #fff;
}
.SSO-BAR .sso-notification-item a {
  font-style: italic;
  font-weight: bold;
}
#sso-notifications-dropdown div.sso-system-notifications,
#sso-notifications-dropdown div.sso-site-notifications ul li {
  margin: 0px 10px;
}
.sso-system-notifications {
  margin-top: 10px;
}
#menu-notification #sso-notifications-dropdown .sso-notification-list li.sso-notification-item {
  height: 50px;
}
.sso-notification-list .sso-notification-item {
  border-top: 2px solid #999;
  margin-top: 10px;
}
.sso-notification-list .sso-notification-item a .notification-icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 9px;
  margin-right: 10px;
}
.sso-notification-list .sso-notification-item a .notification-body {
  position: relative;
  margin-top: 11px;
  display: block;
  color: black;
  font-style: normal;
  font-weight: normal;
}
.sso-notification-list .sso-notification-item a .notification-body span {
  font-weight: bold;
}
.sso-site-notification-page {
  background-color: #333;
  color: white;
  text-decoration: none;
  text-align: center;
  height: 30px;
  border-bottom: 2px solid black;
  font-weight: bold;
  display: none;
}
.sso-site-notification-page a {
  display: block;
  position: relative;
  color: white;
  height: 23px;
  padding-top: 9px;
}
#sso-notifications-dropdown {
  padding: 5px;
  min-width: 300px;
}
.sso-notification-list li.sso-notification-item {
  padding-left: 0px;
}
/** 07 UTILITIES
 *************************/
.SSO-BAR .panel-cta {
  color: #A6ACB5;
}
/* .SSO-BAR .panel-cta:hover { */
/* 	color: #fff; */
/* } */
/************************** 
08 SEARCH BAR
***************************/
#sso-bar-menu li#search-bar-container {
  float: right;
  margin-left: 10px;
}
#sso-bar-menu li#search-bar-container input {
  font: italic 12px/23px Helvetica, Arial, sans-serif;
  height: 38px;
  width: 200px;
  margin: 0;
  padding: 0 31px 1px 10px;
  color: #717171;
  background-color: #141414;
  border: 1px solid #2d2d2d;
  display: inline;
  line-height: 38px;
}
#sso-bar-menu li#search-bar-container #search-drop-down ul {
  background: none repeat scroll 0 0 white;
  padding: 10px;
}
#sso-bar-menu li#search-bar-container #search-drop-down {
  background: url("../images/sprite_search.png") no-repeat scroll 216px top transparent;
  position: absolute;
  top: 35px;
  z-index: 2001;
  display: none;
  margin-left: 5px;
  box-shadow: 0 0 8px #000000;
  margin-top: 6px;
  margin-right: 80px;
  padding: 5px;
}
#sso-bar-menu li#search-bar-container #search-drop-down li {
  font: italic bold 12px/35px Helvetica, Arial, sans-serif;
  color: black;
  height: 35px;
  white-space: nowrap;
  padding: 0 40px 0 5px;
  cursor: pointer;
  width: 165px;
}
.search-selected {
  background-color: #D8E57B;
  background: url(../images/button-action-bg.png) no-repeat scroll right -499px #d8e57b;
}
#search-drop-down li:hover {
  background-color: #CCC;
}
#search-bar-icon {
  background: url(../images/form.png) no-repeat scroll 0 0 transparent;
  height: 13px;
  position: absolute;
  width: 12px;
  background-position: -3px -53px;
  top: 14px;
  right: 13px;
}
#search-bar-wrapper:hover {
  background-color: black;
}
#search-bar-wrapper {
  position: absolute;
  right: 1px;
  top: 0px;
  width: 40px;
  height: 40px;
  margin-left: 0px;
}
/*****************************
	DIV PLACED LOGIN STYLE
******************************/
section#sso-placed-login > h3,
section#sso-placed-login #frmLogin h6 {
  text-align: left;
  margin-bottom: 35px;
}
.sso-login-wrapper h3 {
  margin: 0;
  font-size: 35px;
}
.sso-login-wrapper h6 {
  color: white;
  font-weight: bold;
}
.sso-login-wrapper h1,
.sso-login-wrapper h2,
.sso-login-wrapper h3,
.sso-login-wrapper h4,
.sso-login-wrapper legend {
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
}
.sso-login-wrapper {
  background-color: black;
  color: #CCC;
}
.sso-login-wrapper .loginFB {
  margin-top: 5px;
  display: block;
  color: white;
  padding: 4px 0 7px;
  width: 154px;
  margin: 25px auto 10px;
  height: 20px;
}
#sso-placed-login {
  padding: 35px;
}
.sso-login-wrapper label {
  font-weight: bold;
  color: #999;
}
.sso-login-wrapper .chooseLogin {
  width: 27px;
  padding: 9px 0;
  margin: 0 auto;
  position: relative;
  top: -17px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-indent: 0;
}
.sso-login-wrapper fieldset {
  border-top: 2px solid #333;
  margin-top: 20px;
}
.sso-login-wrapper input {
  background-color: #111;
  border-color: #333;
  border-style: solid;
  width: 99%;
  height: 30px;
  margin: 10px 0 25px;
  color: white;
}
.sso-login-wrapper .login-forgot-password a {
  float: right;
  text-decoration: none;
  color: #D7E57A;
  font-weight: bold;
  height: 15px;
  margin-bottom: 25px;
}
.sso-login-wrapper #sso-login-button {
  background-color: #D7E57A;
  width: 100%;
  border-style: solid;
  border-color: #D7E57A;
  height: 40px;
  font-family: Helvetica, Arial, sans-serif;
}
.sso-login-wrapper #sso-login-terms,
.sso-login-wrapper #sso-login-withoutelite {
  font-weight: bold;
  color: #333;
}
.sso-login-wrapper #sso-login-need-account-menu-label {
  display: inline-block;
  background-color: #333;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 38px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.sso-login-wrapper .submit-button-wrapper {
  padding-bottom: 30px;
  border-bottom: 2px solid #333;
}
.sso-login-wrapper #sso-login-withoutelite {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #666;
}
.sso-login-wrapper #sso-login-withoutelite,
.sso-login-wrapper #sso-login-terms {
  text-align: left;
}
.SSO-BAR h3 span#profile-complete-text-prefix,
#profile-completion-percentage,
#profile-complete-text-suffix {
  color: #000;
}
/**************************
	Mobile-SSO Styling

	ToC:

	01 - Mobile Button
	02 - Mobile Modal
	03 - Desktop
	04 - Login Register Buttons
	05 - Identity
	06 - Locale
	07 - Notifications
	08 - Other
	09 - Media Queries

***************************/
.SSO-BAR a,
.SSO-BAR p,
.SSO-BAR li,
.SSO-BAR label {
  color: white;
  text-align: center;
  list-style: none;
}
/****************************
	Mobile Button Styling
*****************************/
.sso-bar-wrapper.mobile .sso-mobile-navigation-button.mobile .button-container .sso-mobile-navigation-button.mobile {
  width: 55px;
  height: 45px;
}
.sso-bar-wrapper.mobile .mobile-navigation-button {
  display: inline-block;
  width: 53px;
  height: 45px;
  background: url(../images/mobile-menu-icon.png) no-repeat;
  cursor: pointer;
}
/****************************
	Mobile Modal Styling
****************************/
.mobile.sso-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10200;
  display: none;
}
.mobile.sso-modal.active {
  display: block;
}
.sso-bar-wrapper.mobile,
.sso-modal.mobile {
  display: none;
}
.mobile-modal-wrapper {
  height: 100%;
  overflow: auto;
  width: 80%;
  padding: 0 10%;
  position: relative;
}
.mobile-modal-wrapper .sso-locale,
.mobile-modal-wrapper .sso-identities,
.mobile-modal-wrapper .sso-notifications {
  width: 23%;
}
.mobile-modal-wrapper .sso-locale .sso-locale-list-container,
.mobile-modal-wrapper .sso-notification-dropdown,
.mobile-modal-wrapper .sso-identity-dropdown-wrapper {
  width: 90%;
  position: absolute;
  margin: auto;
  right: 0px;
  left: 0px;
  background-color: black;
  outline: rgba(0, 0, 0, 0.9) solid 800px;
  z-index: 1;
  top: 10%;
}
.mobile-modal-wrapper .sso-notification-dropdown {
  left: 50%;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0);
}
.mobile-modal-wrapper > div {
  width: 100%;
  margin: auto;
  height: auto;
  margin-top: 31px;
  border: 1px solid;
  min-height: 50px;
  float: left;
  background-color: #000;
}
.mobile-modal-wrapper > div.sso-identities > a {
  background-image: url(../images/dark-cog.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.mobile-modal-wrapper > div #explore-bar-sites,
.mobile-modal-wrapper > div #explore-bar-more {
  font-size: 30px;
  text-align: center;
}
.mobile-modal-wrapper > div .sso-explore-list li {
  text-align: center;
}
.mobile-modal-wrapper > div .sso-explore-list li a {
  color: white;
  font-size: 18px;
  line-height: 30px;
}
.mobile-modal-wrapper > div > a {
  color: white;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  min-height: 48px;
}
.mobile-modal-wrapper > div > div {
  display: none;
}
.mobile-modal-wrapper > div.active > div {
  display: block;
  border-top: 1px solid;
}
.mobile-modal-wrapper > div.active > div.sso-locale-list-container,
.mobile-modal-wrapper > div.active > div.sso-identity-dropdown-wrapper,
.mobile-modal-wrapper > div.active > div.sso-notification-dropdown {
  border: 1px solid;
}
/****************************
	Desktop Styling
****************************/
.sso-bar-wrapper.desktop {
  width: 80%;
  height: 50px;
  position: relative;
  margin: 0px auto;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div {
  width: auto;
  height: 50px;
  float: left;
}
.sso-bar-wrapper.desktop .sso-bar-menu .sso-menu-element > a {
  display: block;
  width: auto;
  height: 100%;
  line-height: 50px;
  color: #666666;
  font-size: 14px;
}
.sso-bar-wrapper.desktop .sso-bar-menu .sso-menu-element > div {
  display: none;
}
.sso-bar-wrapper.desktop .sso-bar-menu .sso-menu-element.active > div {
  display: block;
  position: absolute;
  background-color: black;
  border: 1px solid;
  min-width: 200px;
  top: 50px;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore,
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-locale {
  padding-right: 0px;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore {
  border-left: 2px solid #1c1c1c;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore .sso-explore-list-container {
  padding: 16px;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore .sso-explore-list-container .sso-explore-list > * {
  line-height: 25px;
  text-align: left;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore .sso-explore-list-container #explore-bar-sites,
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore .sso-explore-list-container #explore-bar-more {
  font-size: 20px;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-identities {
  background-image: url(../images/dark-cog.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  /*width: 40px;*/
  height: 50px;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-identities,
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-notifications {
  display: none;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-masthead-wrapper {
  /*display: none;*/
}
.sso-bar-wrapper.desktop .sso-bar-menu > div.sso-explore-expander {
  padding-left: 0px;
}
.sso-bar-wrapper.desktop .sso-bar-menu > div .sso-identity-dropdown-wrapper {
  width: auto;
  right: 0px;
}
.sso-bar-wrapper.desktop .sso-bar-menu .right-side-container {
  float: right;
}
.sso-bar-wrapper.desktop .sso-bar-menu .right-side-container .sso-menu-element {
  float: left;
}
/****************************
	LOGIN REGISTER BUTTONS 
*****************************/
.SSO-BAR .sso-bar-wrapper.desktop .sso-bar-menu .sso-menu-element > a.sso-login-button,
.SSO-BAR .sso-bar-wrapper.desktop .sso-bar-menu .sso-menu-element > a.sso-register-button {
  display: inline-block;
}
.SSO-BAR .sso-bar-wrapper.desktop .sso-bar-menu .sso-menu-element .or {
  font-size: 12px;
  padding: 2px 3px;
  margin: 0px 3px;
  background-color: #666;
  color: black;
}
/****************************
	IDENTITY CONTAINER
****************************/
.sso-identity-dropdown-wrapper h3 {
  font-size: 15px;
  text-align: center;
  padding: 10px 50px;
}
.sso-identity-dropdown-wrapper .identity-actions li a {
  width: 80%;
  height: 100%;
  display: inline-block;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
  font-size: 14px;
}
.sso-identity-dropdown-wrapper .identity-actions li a.sso-account-action-logout {
  margin-bottom: 0px;
}
.sso-identity-dropdown-wrapper .sso-user-identities {
  margin: 0 0 20px;
}
.sso-identity-dropdown-wrapper .sso-user-identities li,
.sso-identity-dropdown-wrapper .sso-user-identities li span {
  pointer-events: none;
  color: black;
}
.sso-identity-dropdown-wrapper .sso-user-identities li {
  width: 90%;
  margin: auto;
  height: 50px;
  line-height: 45px;
  background-color: white;
  margin-bottom: 5px;
  position: relative;
}
.sso-identity-dropdown-wrapper .sso-user-identities li span {
  margin-left: 5px;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.on a {
  color: white;
}
.sso-identity-dropdown-wrapper .sso-user-identities li a {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: all;
}
.sso-identity-dropdown-wrapper .sso-user-identities li a span:after {
  background-image: url(../images/profile/account-linking/gaming-logo-sprite.png);
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 43px;
  height: 42px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.psn span:after {
  background-position: -42px 0;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.xbl span:after {
  background-position: -128px 0;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.nintendo span:after {
  background-position: 1px 0;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.steam span:after {
  background-position: -85px 0;
}
.sso-identity-dropdown-wrapper .sso-user-identities li:after {
  background-image: url(../images/sso-bar-sprite.png);
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background-size: initial;
  position: relative;
  z-index: 99999;
  left: 85%;
  top: -40px;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.on:after {
  background-position: right -395px;
}
.sso-identity-dropdown-wrapper .sso-user-identities li.off:after {
  background: transparent;
}
.account-only .sso-user-identities,
.single-identity .sso-user-identities {
  height: 0px;
  margin-top: 20px;
  margin-bottom: 0;
}
.account-only .sso-user-identities *,
.single-identity .sso-user-identities * {
  display: none;
}
.desktop .sso-identity-dropdown-wrapper {
  padding-bottom: 0px;
}
.desktop .sso-identity-dropdown-wrapper .sso-account-dropdown {
  padding-top: 10px;
  margin-top: 10px;
}
.desktop .sso-identity-dropdown-wrapper h3 {
  min-width: 200px;
  font-size: 20px;
}
.desktop .sso-identity-dropdown-wrapper h3#platform-user-name {
  margin-bottom: -10px;
  padding-bottom: 0px;
}
.mobile .sso-identities {
  float: right;
}
.mobile .sso-identity-dropdown-wrapper h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.mobile .sso-identity-dropdown-wrapper .identity-actions li a {
  width: 80%;
  height: 100%;
  display: inline-block;
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
  font-size: 14px;
}
.mobile .sso-identity-dropdown-wrapper .identity-actions li a.sso-account-action-logout {
  margin-bottom: 0px;
}
.mobile .sso-identity-dropdown-wrapper .sso-user-identities li {
  width: 90%;
  margin: auto;
  height: 50px;
  line-height: 45px;
  background-color: white;
  margin-bottom: 5px;
  vertical-align: text-bottom;
}
.mobile .sso-identity-dropdown-wrapper .sso-user-identities li.on {
  background-position: right -400px;
}
.mobile .sso-identity-dropdown-wrapper .sso-user-identities li > a {
  border: none;
  position: relative;
}
.mobile .sso-identity-dropdown-wrapper .sso-user-identities li > a span {
  color: black;
  font-family: Helvetica;
}
.mobile .sso-identity-dropdown-wrapper .sso-user-identities li > a span:after {
  position: absolute;
  left: 5px;
  top: 3px;
  line-height: 50px;
}
/*********************
	LOCALE
**********************/
.sso-bar-wrapper .sso-locale-chooser {
  padding-left: 9px;
  padding-right: 9px;
  line-height: 40px;
  display: inline-block;
  height: auto;
  padding-top: 15px;
  padding-bottom: 14px;
}
.sso-bar-wrapper .sso-locale-chooser > span {
  background: url(../images/flags.png);
  display: inline-block;
  height: 11px;
  width: 16px;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container {
  border: 1px solid;
  min-width: 240px;
  width: 381px;
  padding: 15px 20px 10px;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container .sso-locale-text .sr-only-selected,
.mobile-modal-wrapper .sso-locale .sso-locale-list-container .sso-locale-text .sr-only-selected {
  display: none;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container .sso-locale-text.is-selected,
.mobile-modal-wrapper .sso-locale .sso-locale-list-container .sso-locale-text.is-selected {
  background: none;
  position: relative;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container .sso-locale-text.is-selected .sr-only-selected,
.mobile-modal-wrapper .sso-locale .sso-locale-list-container .sso-locale-text.is-selected .sr-only-selected {
  display: block;
  position: absolute;
  width: 20px;
  height: 15px;
  content: "";
  background-image: url(../images/check-mark.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  top: 3px;
  right: 5px;
  color: transparent;
}
.sso-bar-wrapper > div > div .sso-locale-list-container li {
  width: 30%;
  display: inline-block;
  left: 0px;
  min-width: 150px;
  position: relative;
  float: left;
  text-align: left;
  border-bottom: 2px solid #ADADAD;
  margin: 5px 3% 5px 1%;
  padding-bottom: 10px;
  padding-left: 25px;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container li:nth-of-type(even) {
  margin-right: 1%;
  margin-left: 3%;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container li.last-line {
  border-bottom: 0px;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container li .sprite.flag {
  width: 15px;
  position: absolute;
  left: 10px;
  height: 11px;
  z-index: 1;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container li .sso-locale.sso-locale-text {
  width: 100%;
  display: inline-block;
  float: left;
  color: white;
  text-align: left;
  padding-left: 10px;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container .sso-current-locale-header {
  font-family: "Open Sans Condensed", Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;
}
.sso-bar-wrapper .sso-locale .sso-locale-list-container .sso-current-locale-header .sso-current-locale-title {
  text-transform: capitalize;
}
.mobile-modal-wrapper .sso-locale-list-container {
  max-width: 280px;
  padding-top: 0px;
}
.mobile-modal-wrapper .sso-locale-list-container li {
  padding: 2% 0;
  width: 100%;
  border-bottom: 1px solid;
}
.mobile-modal-wrapper .sso-locale-list-container li .sprite.flag {
  height: 11px;
  width: 16px;
  position: absolute;
  margin-top: 5px;
  margin-left: 15px;
  z-index: 1;
}
.mobile-modal-wrapper .sso-locale-list-container li .sso-locale.sso-locale-text {
  font-size: 19px;
  width: 100%;
  height: 100%;
  display: block;
  color: white;
  padding-left: 5px;
}
.mobile-modal-wrapper .sso-locale-list-container li .is-selected.sso-locale-text {
  background-position: 98% center;
}
.mobile-modal-wrapper .sso-locale-list-container .sso-current-locale-header {
  color: #fff;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
  background-color: #222;
}
.mobile-modal-wrapper .sso-locale-list-container .sso-current-locale-header .sso-current-locale-title {
  text-transform: capitalize;
}
.mobile-modal-wrapper .sso-locale-chooser {
  padding: 0px;
}
.mobile-modal-wrapper .sso-locale-chooser span {
  background-image: url(../images/flags.png);
  display: inline-block;
  height: 11px;
  width: 16px;
  border: 1px solid #303030;
  top: -5px;
  position: relative;
}
/*
.US span.sso-current-locale,
.US {
  background-position: 0 0;
}
.CA span.sso-current-locale,
.CA {
  background-position: 0 -11px;
}
.AU span.sso-current-locale,
.AU {
  background-position: 0 -22px;
}
.FR span.sso-current-locale,
.FR {
  background-position: 0 -33px;
}
.IT span.sso-current-locale,
.IT {
  background-position: 0 -44px;
}
.ES span.sso-current-locale,
.ES {
  background-position: 0 -55px;
}
.NO span.sso-current-locale,
.NO {
  background-position: 0 -66px;
}
.SE span.sso-current-locale,
.SE {
  background-position: 0 -77px;
}
.DK span.sso-current-locale,
.DK {
  background-position: 0 -88px;
}
.FI span.sso-current-locale,
.FI {
  background-position: 0 -99px;
}
.NL span.sso-current-locale,
.NL {
  background-position: 0 -110px;
}
.BR span.sso-current-locale,
.BR,
.PT span.sso-current-locale,
.PT {
  background-position: 0 -121px;
}
.GB span.sso-current-locale,
.GB {
  background-position: 0 -132px;
}
.DE span.sso-current-locale,
.DE {
  background-position: 0 -143px;
}
.BE span.sso-current-locale,
.BE {
  background-position: 0 -154px;
}
.LU span.sso-current-locale,
.LU {
  background-position: 0 -165px;
}
.RU span.sso-current-locale,
.RU {
  background-position: 0 -176px;
}
.PL span.sso-current-locale,
.PL {
  background-position: 0 -187px;
}
.NZ span.sso-current-locale,
.NZ {
  background-position: 0 -198px;
  background-color: #fff;
}
.MX span.sso-current-locale,
.MX {
  background-position: 0 -208px;
}
.JA span.sso-current-locale,
.JA {
  background-position: 0 -219px;
}
.BR span.sso-current-locale,
.BR {
  background-position: 0 -121px;
}
*/
/*********************
	NOTIFICATIONS
**********************/
.sso-notifications .sso-notification-count {
  display: none;
}
.sso-notifications .sso-notification-alert-icon {
  float: left;
  width: 15px;
  height: 16px;
  background-image: url(../images/sso-bar-sprite.png);
  background-position: 0 -293px;
  margin-right: 5px;
  margin-left: -20px;
}
.sso-notifications .sso-notification-dropdown {
  width: 300px;
  right: 40px;
}
.sso-notifications .sso-notification-dropdown .sso-notification-no-alert {
  display: none;
}
.sso-notifications .sso-notification-dropdown .sso-system-notifications {
  margin: 10px 15px;
}
.sso-notifications .sso-notification-dropdown .sso-system-notifications .sso-notification-item {
  padding-left: 20px;
  margin-bottom: 10px;
}
.sso-notifications .sso-notification-dropdown .sso-system-notifications .sso-notification-item p {
  margin-top: 5px;
  color: white;
}
.sso-notifications .sso-notification-dropdown .sso-system-notifications .profile-completion-text {
  margin-bottom: 0px;
}
.sso-notifications .sso-notification-dropdown .sso-system-notifications li {
  text-align: left;
}
.sso-notifications .sso-notification-dropdown p {
  text-align: left;
}
.sso-notifications .sso-notification-dropdown a {
  font-size: 16px;
  color: white;
}
.sso-notifications .sso-notification-dropdown a:after {
  display: inline-block;
  content: "";
  width: 10px;
  height: 20px;
  background-position: right -295px;
  background-image: url(../images/sso-bar-sprite.png);
  padding-left: 4px;
  vertical-align: top;
}
div.sso-notifications > a.sso-notification-icon-wrapper {
  padding: 0px;
  width: 100%;
  height: 100%;
}
div.sso-notifications .sso-notification-icon {
  background-image: url(../images/sso-bar-sprite.png);
  height: 40px;
  width: 36px;
  padding: 0px;
  background-position: 6px -254px;
  display: inline-block;
}
.mobile.sso-modal .sso-notifications {
  right: 0;
  left: 0;
  position: absolute;
  padding: 0 .2%;
}
.mobile.sso-modal .sso-notifications .sso-notification-icon {
  display: inline-block;
  height: 40px;
  width: 36px;
  margin-bottom: -7px;
}
.mobile.sso-modal .sso-notifications .sso-notification-icon .sso-notification-count {
  color: transparent;
}
.mobile.sso-modal .sso-notifications .sso-notification-item {
  padding: 0px;
  text-align: left;
  margin-bottom: 10px;
}
.mobile.sso-modal .sso-notifications .sso-notification-item p {
  font-size: 16px;
  letter-spacing: 1px;
  padding: 0 20px;
}
.mobile.sso-modal .sso-notifications .sso-notification-item a {
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 20px;
}
.mobile.sso-modal .sso-notifications .sso-notification-item h3 {
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  width: 90%;
  margin-left: 20px;
  display: inline-block;
}
.mobile.sso-modal .sso-notifications .sso-notification-item h3.notification-no-alerts {
  display: none;
}
.mobile.sso-modal .sso-notifications .sso-notification-item h3.sso-notiification-profile-percentage-alert {
  border-top: 2px solid #444;
  padding-top: 10px;
}
.mobile.sso-modal .sso-notifications .sso-notification-item .profile-completion-text {
  font-size: 17px;
}
.mobile.sso-modal .sso-notifications .sso-notification-item ul li {
  font-size: 14px;
  margin-left: 15px;
  color: white;
}
.mobile.sso-modal .sso-notifications .sso-notification-item .complete-profile-alert-link {
  text-align: left;
  display: block;
}
/*********************
	OTHER
**********************/
.sso-notification-close {
  display: none;
}
/*****************
	MEDIA QUERIES
******************/
@media screen and (min-width: 1025px) {
  .mobile.sso-modal.active {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .SSO-BAR {
    background: transparent;
    width: 55px;
    height: 45px;
  }
  body.with-sso-bar {
    margin-top: 0px;
  }
  .sso-bar-wrapper.desktop {
    display: none;
  }
  .sso-bar-wrapper.mobile {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
  }
  #cdo-bar {
    background: transparent;
  }
}
@media screen and (max-width: 650px) {
  .sso-locale-list-container li {
    width: 100%;
  }
}
@media screen and (max-width: 321px) {
  .sso-locale-list-container {
    width: 260px;
  }
  .mobile-modal-wrapper > div {
    width: 259px;
  }
}

